:root {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 982px;
  margin: 20px;
  margin-left: 24px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card-content {
  height: 250px;
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.store {
  display: flex;
  flex-direction: column;
}

.card h1 {
  font-size: 24px;
}

.card h2 {
  font-size: 16px;
  font-weight: 400;
}

.card p {
  font-size: 14px;
  margin-top: 50px;
}

img {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
}
